<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.glom.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.glom.app.TableNavActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <!--
                TODO: Is there any way to register a new MIME-type in Android?
                Then we could specify application/x-glom instead of application/*
                -->
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\.glom" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.glom.app.TableDetailActivity"
            android:label="@string/title_table_detail"
            android:parentActivityName="org.glom.app.TableListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.glom.app.TableListActivity" />
        </activity>
        <activity
            android:name="org.glom.app.TableListActivity"
            android:label="@string/title_table_list"
            android:parentActivityName="org.glom.app.TableNavActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.glom.app.TableNavActivity" />
        </activity>

        <provider
            android:name=".provider.GlomContentProvider"
            android:authorities="org.glom.app"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
